<!-- Portfolio Modals -->
 {% for post in site.posts %}
    {% if post.path contains 'portfolios' %}
        <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>{{ post.title }}</h2>
                                <hr class="star-primary">
                                <img src="../assets/img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                                
                                <h4>{{ post.description }}</h4>
                                <p>Date: <strong>{{ post.project-date }}</strong></p>
                                <p><strong>My part: {{ post.mywork }}</strong></p>
                                <p>{{ post.details }}</p>
                                <hr class="star-primary">
                                
                                <ul class="list-inline item-details">
                                    {% if post.git %}
                                        <li>Git:
                                            <strong><a href="{{ post.git }}">Git Link</a></strong>
                                        </li>
                                    {% endif %}
                                    <li>Document:
                                        <strong><a href="{{ post.readme }}">Go Readme</a>
                                        </strong>
                                    </li>
                                    <li>Video:
                                        {% if post.video %}
                                            <strong><a href="{{ post.video }}">Youtube Link</a>
                                            </strong>
                                        {% else %}
                                            <strong>X</strong>
                                        {% endif %}
                                    </li>
                                    {% if post.ucc %}
                                        <li>Promotion:
                                            <strong><a href="{{ post.ucc }}">UCC Link</a></strong>
                                        </li>
                                    {% endif %}
                                    {% if post.manual %}
                                        <li>Manual:
                                            <strong><a href="../assets/document/{{ post.manual }}">PDF Link</a></strong>
                                        </li>
                                    {% endif %}
                                </ul>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
